<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Main menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/profile">Profile</a> <!-- link to the page of the user himself with settings and other crap-->
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cars">Cars</a> <!-- link to the page with cars -->
        </li>        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/orders">Orders</a> <!-- link to the page with orders -->
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
